
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.counter {
  background-color: grey;
  width: 400px;
  height: 300px;
}
.componentsWrapper {
  width: 80%;
  margin: 0 auto;
  border: 3px solid rgb(146, 133, 133);
  border-radius: 10px;
  height:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.error {
  border: red 1px solid;
  outline-color: red;
  background-color: rgb(209, 110, 103);
}

.error-message {
  color: red;
}
